* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li>h2 {
  font-size: 24px;
  line-height: 1.33;  
  font-weight: 600;
}

.category-value{
  width: 360px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 4px; 
  padding: 8px 0 8px 18px;
  font-size: 16px;
  margin-bottom: 8px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}

.gallery-image{
  width: calc((100% - 48px) / 3);
}

.image{
  width: 100%;
}

#name-input{
  width: 360px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  padding-left: 18px;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-item{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input{
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form-input:hover{
  border-color: #000;
}

.submit-button{
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
}

.submit-button:hover{
  background-color: #6c8cff;
}

.widget{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.change-color{
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

#controls{
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  margin-bottom: 16px;
}

.quantity-input{
  border: 1px solid #808080;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  height: 40px;
  color: #2e2f42;
}

.create-button{
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}

.create-button:hover {
  background-color: #6c8cff;
}

.destroy-button{
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  color: #fff;
}

.destroy-button:hover {
  background-color: #ff7070;
}

.container{
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}